<!doctype html>
<html lang="ru">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="preconnect" href="https://fonts.googleapis.com">

	<link href="https://fonts.googleapis.com/css?family=Arsenal:300,400,500&display=swap" rel="stylesheet">


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">

    <!-- Style -->
    <link rel="stylesheet" href="/static/css/dict_style.css">

    <title>База словарей</title>
  </head>

<nav class="navbar navbar-expand navbar-dark bg-dark">
  <a class="navbar-brand px4" href="#">База словарей</a>

  <div class="collapse navbar-collapse" id="navbarsExample02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Колесо </a>
      </li>
    </ul>
    <form action="/res" method="get" class="form-inline my-2 my-md-0">
      <input class="form-control" type="text" name = "q" placeholder="Поиск">
    </form>
  </div>
</nav>
<div class="container col-12">
    <div class="row flex-lg-row px--4">

	  <div class="col-4">
        <h2 class="display-5 fw-bold">Название:</h2>
        <p class="lead"> {{name}}</p>

		<h2 class="display-5 fw-bold">Авторы и редакторы:</h2>
        <p class="lead"> {{author}}</p>

		<h2 class="display-5 fw-bold">Ссылка на онлайн-ресурс:</h2>
        <p class="lead"> {{online}}</p>


      </div>


</div>
</div>

