<!doctype html>
<html lang="ru">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="preconnect" href="https://fonts.googleapis.com">

	<link href="https://fonts.googleapis.com/css?family=Oswald:300,400,500&display=swap" rel="stylesheet">


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">

    <!-- Style -->
    <link rel="stylesheet" href="/static/css/dict_style.css">

    <script src="static/dict_test.js"> </script>

    <title>База словарей</title>

  </head>
<body>
<nav class="navbar navbar-expand navbar-light" style="background-color: hsl(49 100% 58%);"">



  <div class="collapse navbar-collapse" id="navbarsExample02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link"> Словарный запас</a>
      </li>
    </ul>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Колесо </a>
      </li>
    </ul>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/tag_yrslf">Tag yourself </a>
      </li>
    </ul>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/ppl_test">Какой вы лексикограф? </a>
      </li>
    </ul>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/dict_test">Что из этого настоящий словарь? </a>
      </li>
    </ul>
    <form action="/res" method="get" class="form-inline my-2 my-md-0">
      <input class="form-control" type="text" name = "q" placeholder="Поиск">
    </form>
  </div>
</nav>

    <h2 text-align = "center" class="align-middle quiz-title" >Викторина: "Какой из этих словарей реален?" </h2>
    <h2 text-align = "center" id = "score_text" > 0/10 </h2>
    <div class="container">
        <div class="row text-center">
	        <div class="col-6">
	            <a type="button" id = 'var_1' >Рыба</a>
	        </div>
	        <div class="col-6">
	            <a type="button" id = 'var_2' >Быба</a>
	        </div>
	    </div>
	 </div>

	 <p id = 'results_text' class="align-middle" >> </p>

    <a type="button" id = 'next_button' onclick="nextQuestion()" style="display: none" class="btn btn-dark" >Далее</a>

</body>