<!--Index.html-->

<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/static/css/dict_style.css">
<link rel="stylesheet" href="/static/css/bootstrap.min.css">

  <link href="https://fonts.googleapis.com/css?family=Arsenal:300,400,500&display=swap" rel="stylesheet">

</head>

<body>

    <nav class="navbar navbar-expand navbar-dark bg-dark">
  <a class="navbar-brand px4" href="#">База словарей</a>

  <div class="collapse navbar-collapse" id="navbarsExample02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Колесо </a>
      </li>
    </ul>
    <form class="form-inline my-2 my-md-0">
      <input class="form-control" name = 'q' type="text" placeholder="Поиск">
    </form>
  </div>
</nav>
    <p>{{qq}} <i>{{q}}</i></p>
    <p>{{res}}</p>
   {% for example in data %}

                {% if example == 'Ничего не нашлось :(' %}
                     <p class="example">{{example}}</p>

                {% else %}
                        <div class="example-container">
                            <li><a href="{{url_for('dict_page', type = example)}}"> {{example}}</a></li>
                        </div>
                {% endif %}
            {% endfor %}
</body>

</html>